NEXT_PUBLIC_RPC_ENDPOINT=http://67.205.164.156:26657
NEXT_PUBLIC_REST_ENDPOINT=http://67.205.164.156:1317
NEXT_PUBLIC_CHAIN_ID=xyz-testnet-1
NEXT_PUBLIC_LAUNCHPAD_CONTRACT=
NEXT_PUBLIC_AMM_CONTRACT=
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
